trigger:
- main

pool:
  name: 'self-hosted-windows'  # Используем само-хостед пул

variables:
  buildConfiguration: 'Release'

steps:
- powershell: |
    Write-Host "Демонстрационный пайплайн для лабораторной работы"
    Write-Host "Текущая директория: $(Build.SourcesDirectory)"
    Get-ChildItem -Path . -Recurse | Select-Object Name, Length | Format-Table
  displayName: 'Показать структуру проекта'

- task: CopyFiles@2
  displayName: 'Копирование файлов'
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)'
    Contents: '**/*'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Публикация артефактов'
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'
